* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.tout {
  display: flex;
  width: 1728px;
  height: 1117px;
  padding: 50px 1306px 901px 0px;
  flex-direction: column;
  align-items: flex-start;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.switzerland {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-direction: row;
}

p {
  color: #000;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bar {
  display: flex;
  align-items: center;
  gap: 2px;
  padding-left: 20px;
}

.switzerland .mobile {
  display: flex;
  width: 195px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: #ffcc2f;
}

.switzerland .desktop {
  display: flex;
  width: 105px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  background: #37d3d2;
}

.usa {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-direction: row;
}

.usa .mobile {
  display: flex;
  width: 153px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: #ffcc2f;
}

.usa .desktop {
  display: flex;
  width: 147px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  background: #37d3d2;
}

.europe {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-direction: row;
}

.eu .us .ch {
  width: 16px;
  text-align: right;
}

.europe .mobile {
  display: flex;
  width: 123px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: #ffcc2f;
}

.europe .desktop {
  display: flex;
  width: 177px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  background: #37d3d2;
}

.desktop p {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mobile p {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.legend {
  display: flex;
  width: 422px;
  padding: 20px 0px 20px 120px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.legend-desktop {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend-mobile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend p {
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
